*

{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'arial',sans-serif;
    color:white;

}
section
{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

section .main
{
    width : 580px;
    margin: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

section .main .searchBx
{
    position: relative;
    width:  100%;
    margin-top: 20px;
    background-color: white;
    font: white;
}

section .main .searchBx .query
{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 16px;
    font:white;
    border-radius: 30px;
    padding-left: 45px;
    padding-right: 60px;
    background-color: darkslategray;
    
}
section .main .searchBx .icons
{
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 12px 20px;
    align-items: center;
    pointer-events: none;
}
section .main .searchBx .icons img
{
    max-width: 100%;
}
.searchBtn
{
    margin:  0 50px;
    margin-top: 20px;
    padding: 12px 20px;
    color:  #555;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid solid transparent;
    outline: none;
    position: relative;
    bottom: -60px;
    right: -10pc;

}
.discord
{
    width: 1;
    margin:  0 50px;
    margin-top: 20px;
    padding: 5px 7px;
    color: #ccc;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid solid transparent;
    outline: none;
    position: relative;
    bottom: -5px;
    left: 5.25pc;
    border-radius: 360px;

}
.youtube
{
    width: 1;
    margin:  0 50px;
    margin-top: 20px;
    padding: 5px 7px;
    color: #ccc;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid solid transparent;
    outline: none;
    position: relative;
    bottom: -5px;
    left: -7.75pc;
    border-radius: 360px;

}
.gmail
{
    width: 1;
    margin:  0 50px;
    margin-top: 20px;
    padding: 5px 7px;
    color: #ccc;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid solid transparent;
    outline: none;
    position: relative;
    bottom: 3.75pc;
    left: 7pc;
    border-radius: 360px;

}
.facebook
{
    width: 1;
    margin:  0 50px;
    margin-top: 20px;
    padding: 5px 7px;
    color: #ccc;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid solid transparent;
    outline: none;
    position: relative;
    bottom: 3.75pc;
    left: 2pc;
    border-radius: 360px;

}
.searchBtn:hover
{
    border: 1px solid #ccc;
}
.discord:hover
{
    border: 1px solid #ccc;
}
.youtube:hover
{
    border: 1px solid #ccc;
}
.gmail:hover
{
    border: 1px solid #ccc;
}
.facebook:hover
{
    border: 1px solid #ccc;
}